<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @user.errors.any? %>
  <div class="error-messages">
    <h2>以下のエラーがあります:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<body id="signup-page">
  <h1>新規ユーザー登録</h1>
  
  <%= form_with model: @user, local: true do |f| %>
    <div>
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :uid, "ID" %>
      <%= f.text_field :uid %>
    </div>
    <div class="password-container">
      <%= f.label :password, "パスワード" %>
      <div class="password-input-wrapper">
        <%= f.password_field :password, id: 'password_field' %>
        <button type="button" id="toggle-password" class="toggle-password">パスワードを表示</button>
      </div>
    </div>
    <div>
      <%= f.submit "登録" %>
    </div>
  <% end %>
  
  <%= link_to 'ログイン画面に戻る', login_path, style: 'margin-left: 400px;' %>
  
  <script>
    document.getElementById('toggle-password').addEventListener('click', function() {
      var passwordField = document.getElementById('password_field');
      if (passwordField.type === 'password') {
        passwordField.type = 'text'; // パスワードを表示
        this.innerText = 'パスワードを隠す'; // ボタンのテキストを変更
      } else {
        passwordField.type = 'password'; // パスワードを隠す
        this.innerText = 'パスワードを表示'; // ボタンのテキストを変更
      }
    });
  </script>
</body>
