<body id="learning-record-page">
  <h1>学習記録の編集</h1>
  
  <%= form_with(model: @study_log, local: true) do |form| %>
    <% if @study_log.errors.any? %>
      <div class="error-messages">
        <h2>エラーが発生しました:</h2>
        <ul>
          <% @study_log.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :subject, "科目" %>
      <%= form.collection_select :subject_id, @subjects, :id, :name, prompt: "選択してください" %>
      <br>
      <%= link_to '科目設定ページ', new_subject_path(return_to: new_study_log_path) %>
    </div>
  
    <!-- 時間と分の入力 -->
    <div>
      <%= form.label :study_time, "学習時間" %>
      <div>
        <%= form.number_field :study_time_hours, value: (@study_log.study_time / 60).floor, min: 0, placeholder: "時間", step: 1 %> 時間
        <%= form.number_field :study_time_minutes, value: (@study_log.study_time % 60), min: 0, max: 59, placeholder: "分", step: 1 %> 分
      </div>
    </div>
  
    <div>
      <%= form.label :note, "ノート" %>
      <%= form.text_area :note %>
    </div>
  
    <div>
      <%= form.submit "更新する" %>
    </div>
  <% end %>
  
  <%= link_to 'キャンセル', study_logs_path %>
</body>
