<h1>記録を入力</h1>

<%= form_with model: @study_log, local: true do |f| %>
  <div>
    <%= f.label :subject, "科目名" %>
    <%= f.text_field :subject %>
  </div>

  <div>
    <%= f.label :study_time, "学習時間（分）" %>
    <%= f.number_field :study_time %>
  </div>

  <div>
    <%= f.label :note, "学習内容" %>
    <%= f.text_area :note %> 
  </div>

  <div>
    <%= f.submit "記録する" %>
  </div>
<% end %>

<%= link_to 'TOP画面に戻る', root_path %>