<body id="learning-record-page">
  <h1>学習を記録する</h1>
  
  <% if @study_log.errors.any? %>
    <div class="error-messages">
      <h2>エラーが発生しました:</h2>
      <ul>
        <% @study_log.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_with model: @study_log, local: true do |f| %>
    <div>
      <%= f.label :subject, "科目" %>
      <%= f.text_field :subject %>
    </div>
    <div>
      <%= f.label :study_time, "学習時間(分)" %>
      <%= f.number_field :study_time %>
    </div>
    <div>
      <%= f.label :note, "メモ" %>
      <%= f.text_area :note %>
    </div>
    <div>
      <%= f.submit "記録する" %>
    </div>
  <% end %>
</body>