<body id="target-page">
  <h1>目標を設定する</h1>

  <%= form_with(model: @goal, local: true) do |form| %>
  <div class="field">
    <%= form.label :title, "目標タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :study_time, "目標学習時間 (分)" %>
    <%= form.number_field :study_time %>
  </div>

  <div class="field">
    <%= form.label :period, "目標期間" %>
    <%= form.select :period, ['today', 'this_week', 'this_month'] %>
  </div>

  <div class="actions">
    <%= form.submit "目標を作成" %>
  </div>
<% end %>

  
  <%= link_to '戻る', report_index_path %>
</body>