<body id="target-page">

<% if @goal.errors.any? %>
  <ul>
    <% @goal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>目標を設定する</h1>

<%= form_with model: @goal, url: report_goals_path(@report), local: true do |f| %>
  <div>
    <%= f.label :title, "目標タイトル" %>
    <%= f.text_field :title, value: @goal.title %> <!-- Pre-populate title if needed -->
  </div>
  <div>
    <%= f.label :study_time, "学習時間" %>
    <%= f.number_field :study_time, value: @goal.study_time %> <!-- Pre-populate study time if needed -->
  </div>
  <div>
    <%= f.label :period, "目標期間" %> <!-- Add period field if needed -->
    <%= f.select :period, options_for_select([['今日', 'daily'], ['今週', 'weekly'], ['今月', 'monthly']], @goal.period) %>
  </div>
  <div>
    <%= f.submit "目標を設定" %>
  </div>
<% end %>

<%= link_to '戻る', report_goals_path(@report) %>

</body>
