<body id="report-page">
  <h1>レポート</h1>

  <!-- 今日の学習時間 -->
  <h2>今日の学習時間</h2>
  <% if @todays_study_time == 0 %>
    <p class="no-study">まだ勉強をしていません</p>
  <% else %>
    <p>今日の学習時間: <%= @todays_study_time %>分</p>
  <% end %>

  <!-- 今週の学習時間 -->
  <h2>今週の学習時間</h2>
  <% if @this_weeks_study_time == 0 %>
    <p class="no-study">まだ勉強をしていません</p>
  <% else %>
    <p>今週の学習時間: <%= @this_weeks_study_time %>分</p>
  <% end %>

  <!-- 今月の学習時間 -->
  <h2>今月の学習時間</h2>
  <% if @this_months_study_time == 0 %>
    <p class="no-study">まだ勉強をしていません</p>
  <% else %>
    <p>今月の学習時間: <%= @this_months_study_time %>分</p>
  <% end %>

  <hr />

  <!-- 合計学習時間 -->
  <div class="total-time">
    <span>合計学習時間</span>
    <span><%= @total_study_time %>分</span>
  </div>

  <!-- 目標を見るリンク (目標を設定するリンクに変更) -->
  <div class="view-goals">
    <% if @report.present? %>
      <%= link_to '目標を設定する', report_goals_path(report_id: @report.id), class: 'view-goals-link' %>
    <% else %>
      <p>レポートを作成してから目標を設定できます。</p>
    <% end %>
  </div>


  <div class="back-to-home-container" style="margin-top: 40px;">
    <%= link_to 'トップページに戻る', root_path, class: 'back-to-home-link' %>
  </div>
</body>
