<body id="report-page">
  <h2>今日の学習時間</h2>
  <% if @todays_study_time.blank? %>
    <p class="no-study">まだ勉強をしていません</p>
  <% else %>
    <ul>
      <% @todays_study_time.each do |subject, time| %>
        <li>
          <span class="subject"><%= subject %></span>
          <span class="time"><%= time %>分</span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <!-- 今週の学習時間 -->
  <h2>今週の学習時間</h2>
  <% if @this_weeks_study_time.blank? %>
    <p class="no-study">まだ勉強をしていません</p>
  <% else %>
    <ul>
      <% @this_weeks_study_time.each do |subject, time| %>
        <li>
          <span class="subject"><%= subject %></span>
          <span class="time"><%= time %>分</span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <!-- 今月の学習時間 -->
  <h2>今月の学習時間</h2>
  <% if @this_months_study_time.blank? %>
    <p class="no-study">まだ勉強をしていません</p>
  <% else %>
    <ul>
      <% @this_months_study_time.each do |subject, time| %>
        <li>
          <span class="subject"><%= subject %></span>
          <span class="time"><%= time %>分</span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <hr />
  <div class="total-time">
    <span>合計学習時間</span>
    <span><%= @total_study_time %>分</span>
  </div>

    <!-- 目標表示 -->
  <h2>現在の目標</h2>
  <% if @goals.blank? %>
    <p class="no-goal">まだ目標が設定されていません。</p>
  <% else %>
    <ul>
      <% @goals.each do |goal| %>
        <li>
          <h3><%= goal.title %></h3>
          <p>目標時間: <%= goal.study_time %> 分</p>
          <%= link_to "編集", edit_report_goal_path(@report, goal), class: "btn btn-secondary" %>
          <%= link_to '削除', report_goal_path(@report, goal), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <!-- 新規目標作成ページに移動するリンク -->
  <h2>新しい目標を設定</h2>
  <%= link_to "新規目標作成", new_report_goal_path(@report), class: "btn btn-primary" %>
</body>

